livekit-agents[tavus]~=1.2
livekit-agents[google]~=1.2
livekit-plugins-tavus
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation==0.2.3
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv